power-automate/vehicle-automail-flow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "flowName": "Vehicle Automail",
    "description": "SharePoint 폴더에 과속/과징금 문서가 업로드되면 AI Builder OCR로 텍스트를 인식하고 차량번호를 추출하여 담당 직원에게 Outlook Draft를 자동 생성하는 Power Automate 클라우드 플로우",
    "author": "hyo-bum.bae@lr.org",
    "created": "2026-02-28",
    "version": "1.0.0",
    "environment": "LR SharePoint (Automation Test Site)",
    "environmentId": "Default-4a3454a0-8cf4-4a9c-b1c0-6ce4d1495f82",
    "flowId": "14db0ec0-0db3-431a-8b3c-ad28305bab88",
    "connections": {
      "sharepoint": {
        "connectionId": "shared_sharepointonline",
        "account": "hyo-bum.bae@lr.org"
      },
      "aibuilder": {
        "connectionId": "shared_aibuilder",
        "model": "Recognize text in image or document (prebuilt)"
      },
      "office365outlook": {
        "connectionId": "shared_office365",
        "account": "hyo-bum.bae@lr.org"
      }
    }
  },
  "triggers": {
    "When_a_file_is_created_in_a_folder": {
      "type": "ApiConnection",
      "connector": "SharePoint",
      "description": "SharePoint 라이브러리에 새 파일이 생성되면 트리거 (deprecated connector 사용)",
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_sharepointonline"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/triggers/onnewfileinrootfolder"
      },
      "parameters": {
        "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
        "folderId": "/Test Library/File to be sent"
      },
      "outputs": {
        "headers/x-ms-file-id": "File identifier",
        "headers/x-ms-file-name": "File name",
        "headers/x-ms-file-path-encoded": "File path (URL encoded)",
        "headers/x-ms-file-etag": "File entity tag",
        "headers/Content-Type": "File content type (e.g. application/pdf, image/jpeg)",
        "File Content": "Binary content of the uploaded file"
      }
    }
  },
  "actions": {
    "Get_file_content": {
      "type": "ApiConnection",
      "connector": "SharePoint",
      "description": "트리거에서 감지된 파일의 바이너리 콘텐츠를 가져옴",
      "runAfter": {},
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_sharepointonline"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/files/@{encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id'])}/content"
      },
      "parameters": {
        "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
        "fileIdentifier": "@triggerOutputs()['headers']['x-ms-file-id']"
      }
    },
    "Recognize_text_in_image_or_document": {
      "type": "ApiConnection",
      "connector": "AI Builder",
      "description": "AI Builder 사전 빌드 OCR 모델 — Get file content의 File Content(바이너리)를 Image 입력으로 전달",
      "runAfter": {
        "Get_file_content": ["Succeeded"]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_aibuilder"
          }
        },
        "body": {
          "image": "@body('Get_file_content').$content"
        }
      },
      "parameters": {
        "image": "@outputs('Get_file_content')?['body']"
      },
      "model": "prebuilt-read (OCR)",
      "outputs": {
        "text": "전체 OCR 인식 텍스트",
        "pages": "페이지별 텍스트 블록 배열",
        "lines": "라인별 텍스트 및 바운딩 박스"
      }
    },
    "Compose": {
      "type": "Compose",
      "description": "AI Builder OCR 결과에서 fullText(전체 인식 텍스트)를 추출",
      "runAfter": {
        "Recognize_text_in_image_or_document": ["Succeeded"]
      },
      "inputs": "@body('Recognize_text_in_image_or_document')?['responsev2']?['predictionOutput']?['fullText']"
    },
    "Compose_1": {
      "type": "Compose",
      "description": "OCR 전문에서 차량번호를 추출 — 3가지 문서 형식 대응 (부과대상/위반차량/차량번호)",
      "runAfter": {
        "Compose": ["Succeeded"]
      },
      "inputs": "@if(contains(outputs('Compose'),'부과대상 : '),trim(first(split(first(skip(split(outputs('Compose'),'부과대상 : '),1)),decodeUriComponent('%0A')))),if(contains(outputs('Compose'),'위반차량'),trim(first(split(first(skip(split(outputs('Compose'),'위반차량'),1)),decodeUriComponent('%0A')))),trim(first(split(first(split(first(skip(split(outputs('Compose'),'차량번호'),1)),decodeUriComponent('%0A'))),'성명')))))",
      "_expressionBreakdown": {
        "overview": "중첩 if()로 3가지 문서 형식에서 차량번호 추출",
        "case1": "contains('부과대상 : ') → split('부과대상 : ') → skip(1) → first → split(newline) → first → trim",
        "case2": "contains('위반차량') → split('위반차량') → skip(1) → first → split(newline) → first → trim",
        "case3_fallback": "split('차량번호') → skip(1) → first → split(newline) → first → split('성명') → first → trim",
        "case3_note": "차량번호와 성명이 같은 줄에 올 수 있어 '성명' 기준 추가 분리 (미납통행료 안내문 대응)"
      },
      "_supportedDocumentTypes": [
        {
          "type": "과태료 고지서 (경찰서)",
          "delimiter": "부과대상 : ",
          "example": "경찰서 발행 과속/과징금 고지서"
        },
        {
          "type": "위반사실 통지 및 사전통지서",
          "delimiter": "위반차량",
          "example": "경찰서 발행 속도위반 사전통지서"
        },
        {
          "type": "과태료 부과 고지서 (구청)",
          "delimiter": "차량번호",
          "example": "구청 발행 주정차위반 과태료 고지서"
        },
        {
          "type": "주정차위반 과태료 통지서 (거제시)",
          "delimiter": "부과대상 : ",
          "example": "거제시 발행 주정차위반 과태료 통지서 (case1에 해당)"
        },
        {
          "type": "유료도로 미납통행료 납부안내문",
          "delimiter": "차량번호",
          "example": "GK 해상도로 발행 미납통행료 안내문 — 차량번호/성명 같은 줄 대응"
        }
      ]
    },
    "Compose_2": {
      "type": "Compose",
      "description": "OCR 전문의 법률 조항/키워드 기반으로 고지서 성격 판별 → 통지서명 부여",
      "runAfter": {
        "Compose": ["Succeeded"]
      },
      "inputs": "@if(or(contains(outputs('Compose'),'제17조'),contains(outputs('Compose'),'과속')),'과속단속통지서',if(or(or(contains(outputs('Compose'),'제32'),contains(outputs('Compose'),'제33')),or(contains(outputs('Compose'),'제34'),contains(outputs('Compose'),'주정차'))),'주정차위반통지서',if(contains(outputs('Compose'),'통행료'),'미납통행료통지서','기타통지서')))",
      "_expressionBreakdown": {
        "overview": "법률 조항 + 키워드 기반으로 고지서 성격을 판별하여 통지서명 부여",
        "case1_과속": "or(contains('제17조'), contains('과속')) → '과속단속통지서' — 도로교통법 제17조(자동차등의 속도)",
        "case2_주정차": "or(or(contains('제32'), contains('제33')), or(contains('제34'), contains('주정차'))) → '주정차위반통지서' — 도로교통법 제32~34조(주정차 금지/제한)",
        "case3_통행료": "contains('통행료') → '미납통행료통지서' — 법률 조항 없이 통행료 키워드 매칭",
        "fallback": "'기타통지서' — 위 패턴 모두 해당하지 않는 경우"
      },
      "_classificationRules": {
        "과속단속통지서": {
          "법률": "도로교통법 제17조 (자동차등의 속도)",
          "키워드": ["제17조", "과속"],
          "예시문서": "경찰서 발행 과속 과태료 고지서, 사전통지서"
        },
        "주정차위반통지서": {
          "법률": "도로교통법 제32조(정차·주차 금지), 제33조(주차금지 장소), 제34조(주차 방법·시간 제한)",
          "키워드": ["제32", "제33", "제34", "주정차"],
          "예시문서": "구청/지자체 주정차위반 과태료 고지서"
        },
        "미납통행료통지서": {
          "법률": "해당없음 (법률 조항 미기재)",
          "키워드": ["통행료"],
          "예시문서": "GK 해상도로 미납통행료 납부안내문"
        }
      }
    },
    "Compose_3": {
      "type": "Compose",
      "description": "OCR 전문에서 1차 납부기한 추출 — 납부기한/납기내 패턴 대응",
      "runAfter": {
        "Compose": ["Succeeded"]
      },
      "inputs": "@if(contains(outputs('Compose'),'납부기한 : '),trim(first(split(first(skip(split(outputs('Compose'),'납부기한 : '),1)),decodeUriComponent('%0A')))),if(contains(outputs('Compose'),'납부기한'),trim(first(split(last(split(outputs('Compose'),'납부기한')),decodeUriComponent('%0A')))),if(contains(outputs('Compose'),'납기내'),trim(first(split(first(skip(split(outputs('Compose'),'납기내'),1)),decodeUriComponent('%0A')))),'추출실패')))",
      "_expressionBreakdown": {
        "overview": "중첩 if()로 1차 납부기한 추출",
        "case1": "contains('납부기한 : ') → '납부기한 : ' 뒤 첫 줄 추출 (가장 일반적, 콜론+공백 포함)",
        "case2": "contains('납부기한') → last(split('납부기한')) 뒤 첫 줄 추출 — '납부기한 경과시...' 경고 문구 회피를 위해 마지막 출현 사용",
        "case3": "contains('납기내') → '납기내' 뒤 첫 줄 추출 (대안 라벨)",
        "fallback": "'추출실패' — 납부기한 필드를 찾을 수 없음",
        "note": "Case 1은 콜론 구분자가 있어 경고 문구와 충돌 없음. Case 2는 GK 미납통행료 등에서 '납부기한 경과시'(경고)와 '납부기한 2026년...'(영수증)이 공존하므로 last()로 하단 영수증 섹션을 우선 추출"
      }
    },
    "Compose_4": {
      "type": "Compose",
      "description": "이메일 제목 및 첨부파일명 조합 — '{고지서성격}_{차량번호}_{납부기한}'",
      "runAfter": {
        "Compose_1": ["Succeeded"],
        "Compose_2": ["Succeeded"],
        "Compose_3": ["Succeeded"]
      },
      "inputs": "@concat(outputs('Compose_2'),'_',outputs('Compose_1'),'_',outputs('Compose_3'))",
      "_outputExample": "과속단속통지서_231허1342_2026.03.15"
    },
    "Get_items": {
      "type": "ApiConnection",
      "connector": "SharePoint",
      "description": "SharePoint 리스트에서 차량번호로 담당자 이메일 조회",
      "runAfter": {
        "Compose_1": ["Succeeded"]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_sharepointonline"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/tables/@{encodeURIComponent(encodeURIComponent('VehicleEmailMapping'))}/items",
        "queries": {
          "$filter": "VehicleNumber eq '@{outputs('Compose_1')}'"
        }
      },
      "parameters": {
        "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
        "listName": "VehicleEmailMapping",
        "$filter": "VehicleNumber eq '@{outputs('Compose_1')}'",
        "_listColumns": {
          "VehicleNumber": "차량번호 (텍스트) — 예: 231허1342",
          "Email": "담당자 이메일 (텍스트) — 예: john.doe@lr.org"
        }
      }
    },
    "Condition": {
      "type": "If",
      "description": "SharePoint 리스트에서 차량번호 매칭 여부 확인",
      "runAfter": {
        "Get_items": ["Succeeded"],
        "Compose_4": ["Succeeded"]
      },
      "expression": {
        "and": [
          {
            "greater": ["@length(body('Get_items')?['value'])", 0]
          }
        ]
      },
      "actions": {
        "Create_a_draft_(V2)": {
          "type": "ApiConnection",
          "connector": "Office 365 Outlook",
          "description": "매칭된 담당자에게 Outlook Draft 생성 — 제목과 첨부파일명 동일",
          "inputs": {
            "host": {
              "connection": {
                "name": "shared_office365"
              }
            },
            "method": "post",
            "path": "/v2/Mail/drafts",
            "body": {
              "To": "@{first(body('Get_items')?['value'])?['Email']}",
              "Subject": "@{outputs('Compose_4')}",
              "Body": "<p>교통 관련 통지서를 첨부합니다.</p><p>문서 성격: @{outputs('Compose_2')}<br>차량번호: @{outputs('Compose_1')}<br>납부기한: @{outputs('Compose_3')}</p>",
              "Importance": "Normal",
              "Attachments": [
                {
                  "Name": "@{concat(outputs('Compose_4'),'.pdf')}",
                  "ContentBytes": "@{body('Get_file_content').$content}"
                }
              ]
            }
          },
          "_outputExample": {
            "To": "john.doe@lr.org",
            "Subject": "과속단속통지서_231허1342_2026.03.15",
            "AttachmentName": "과속단속통지서_231허1342_2026.03.15.pdf"
          }
        },
        "Move_file_processed": {
          "type": "ApiConnection",
          "connector": "SharePoint",
          "description": "Draft 생성 성공 후 원본 PDF를 Processed 폴더로 이동 — 중복 처리 방지 및 이력 관리",
          "runAfter": {
            "Create_a_draft_(V2)": ["Succeeded"]
          },
          "inputs": {
            "host": {
              "connection": {
                "name": "shared_sharepointonline"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/files/@{encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id'])}/move",
            "body": {
              "destinationPath": "/Test Library/Processed/@{concat(outputs('Compose_4'),'.pdf')}",
              "nameConflictBehavior": "rename"
            }
          },
          "parameters": {
            "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
            "sourceFileId": "@triggerOutputs()['headers']['x-ms-file-id']",
            "destinationFolder": "/Test Library/Processed",
            "newFileName": "@{concat(outputs('Compose_4'),'.pdf')}",
            "_note": "파일명을 '고지서성격_차량번호_납부기한.pdf'로 변경하여 이동 — 파일명 충돌 시 자동 rename"
          }
        }
      },
      "else": {
        "actions": {
          "Compose_no_match": {
            "type": "Compose",
            "description": "차량번호 매칭 실패 시 로깅 메시지 생성",
            "inputs": "@concat('매칭 실패: 차량번호 ', outputs('Compose_1'), ' — SharePoint 리스트에 해당 차량번호가 없습니다.')"
          },
          "Send_an_email_(V2)_no_match": {
            "type": "ApiConnection",
            "connector": "Office 365 Outlook",
            "description": "차량번호 매칭 실패 시 관리자에게 알림 이메일 발송",
            "runAfter": {
              "Compose_no_match": ["Succeeded"]
            },
            "inputs": {
              "host": {
                "connection": {
                  "name": "shared_office365"
                }
              },
              "method": "post",
              "path": "/v2/Mail",
              "body": {
                "To": "hyo-bum.bae@lr.org",
                "Subject": "[Vehicle Automail] 매칭 실패 — @{outputs('Compose_1')}",
                "Body": "<p><b>차량번호 매칭 실패 알림</b></p><p>SharePoint 리스트(VehicleEmailMapping)에서 아래 차량번호에 해당하는 담당자를 찾을 수 없습니다.</p><ul><li>차량번호: @{outputs('Compose_1')}</li><li>고지서 성격: @{outputs('Compose_2')}</li><li>납부기한: @{outputs('Compose_3')}</li><li>파일명: @{triggerOutputs()['headers']['x-ms-file-name']}</li></ul><p>SharePoint 리스트에 차량번호를 등록하거나 수동으로 처리해주세요.</p>",
                "Importance": "High"
              }
            },
            "_note": "관리자 이메일을 flow 소유자(hyo-bum.bae@lr.org)로 설정 — 실제 운영 시 적절한 관리자 이메일로 변경"
          },
          "Move_file_unmatched": {
            "type": "ApiConnection",
            "connector": "SharePoint",
            "description": "매칭 실패 파일을 Unmatched 폴더로 이동 — 수동 처리 대기열",
            "runAfter": {
              "Send_an_email_(V2)_no_match": ["Succeeded"]
            },
            "inputs": {
              "host": {
                "connection": {
                  "name": "shared_sharepointonline"
                }
              },
              "method": "post",
              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/files/@{encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id'])}/move",
              "body": {
                "destinationPath": "/Test Library/Unmatched/@{triggerOutputs()['headers']['x-ms-file-name']}",
                "nameConflictBehavior": "rename"
              }
            },
            "parameters": {
              "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
              "sourceFileId": "@triggerOutputs()['headers']['x-ms-file-id']",
              "destinationFolder": "/Test Library/Unmatched",
              "_note": "원본 파일명 유지하여 수동 식별 용이하게 함"
            }
          }
        }
      }
    }
  },
  "_flowSummary": {
    "trigger": "SharePoint 폴더('/Test Library/File to be sent')에 PDF 업로드",
    "step1": "Get file content → 파일 바이너리 가져오기",
    "step2": "AI Builder OCR → 텍스트 인식",
    "step3": "Compose → fullText 추출",
    "step4_parallel": {
      "Compose_1": "차량번호 추출 (부과대상/위반차량/차량번호)",
      "Compose_2": "고지서 성격 판별 (법률 조항 기반)",
      "Compose_3": "1차 납부기한 추출 (last() — 경고 문구 회피)"
    },
    "step5": "Get items → SharePoint 리스트에서 차량번호-이메일 매핑 조회",
    "step6": "Compose_4 → 제목 조합 (고지서성격_차량번호_납부기한)",
    "step7_condition": {
      "yes": "Outlook Draft 생성 → 원본 파일을 /Processed 폴더로 이동 (파일명 변경)",
      "no": "관리자에게 매칭 실패 알림 이메일(High 중요도) → 원본 파일을 /Unmatched 폴더로 이동"
    }
  },
  "_errorHandlingStrategy": {
    "description": "Power Automate에서 Scope 액션으로 에러 핸들링 구현 시 적용할 전략",
    "recommendation": "Scope_OCR_Extract 안에 Compose, Compose_1~4, Get_items, Condition을 넣고, Scope 실패 시(Configure run after: has failed, has timed out) 아래 액션 실행",
    "onFailure": {
      "Send_error_notification": {
        "description": "관리자에게 에러 알림 이메일 발송",
        "to": "hyo-bum.bae@lr.org",
        "subject": "[Vehicle Automail] 플로우 실패 — @{triggerOutputs()['headers']['x-ms-file-name']}",
        "importance": "High"
      },
      "Move_file_failed": {
        "description": "실패한 파일을 /Test Library/Failed 폴더로 이동",
        "destinationFolder": "/Test Library/Failed"
      }
    },
    "_note": "현재 JSON 레퍼런스에서는 Scope를 직접 구현하지 않음 — Power Automate UI에서 Scope 액션을 추가하여 구현. 이 섹션은 구현 가이드 역할"
  },
  "_sharePointFolderStructure": {
    "/Test Library/File to be sent": "트리거 감시 폴더 — 새 문서 업로드 위치",
    "/Test Library/Processed": "성공 처리 완료 — 파일명이 '고지서성격_차량번호_납부기한.pdf'로 변경됨",
    "/Test Library/Unmatched": "차량번호 매칭 실패 — 수동 처리 대기열",
    "/Test Library/Failed": "플로우 에러 — OCR 실패 등 기술적 오류 발생 파일"
  }
}
