power-automate/vehicle-automail-flow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "flowName": "Vehicle Automail",
    "description": "SharePoint 폴더에 과속/과징금 문서가 업로드되면 AI Builder OCR로 텍스트를 인식하고 차량번호를 추출하여 담당 직원에게 Outlook Draft를 자동 생성하는 Power Automate 클라우드 플로우",
    "author": "hyo-bum.bae@lr.org",
    "created": "2026-02-28",
    "version": "1.0.0",
    "environment": "LR SharePoint (Automation Test Site)",
    "environmentId": "Default-4a3454a0-8cf4-4a9c-b1c0-6ce4d1495f82",
    "flowId": "14db0ec0-0db3-431a-8b3c-ad28305bab88",
    "connections": {
      "sharepoint": {
        "connectionId": "shared_sharepointonline",
        "account": "hyo-bum.bae@lr.org"
      },
      "aibuilder": {
        "connectionId": "shared_aibuilder",
        "model": "Recognize text in image or document (prebuilt)"
      },
      "office365outlook": {
        "connectionId": "shared_office365",
        "account": "hyo-bum.bae@lr.org"
      }
    }
  },
  "triggers": {
    "When_a_file_is_created_in_a_folder": {
      "type": "ApiConnection",
      "connector": "SharePoint",
      "description": "SharePoint 라이브러리에 새 파일이 생성되면 트리거 (deprecated connector 사용)",
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_sharepointonline"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/triggers/onnewfileinrootfolder"
      },
      "parameters": {
        "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
        "folderId": "/Test Library/File to be sent"
      },
      "outputs": {
        "headers/x-ms-file-id": "File identifier",
        "headers/x-ms-file-name": "File name",
        "headers/x-ms-file-path-encoded": "File path (URL encoded)",
        "headers/x-ms-file-etag": "File entity tag",
        "headers/Content-Type": "File content type (e.g. application/pdf, image/jpeg)",
        "File Content": "Binary content of the uploaded file"
      }
    }
  },
  "actions": {
    "Get_file_content": {
      "type": "ApiConnection",
      "connector": "SharePoint",
      "description": "트리거에서 감지된 파일의 바이너리 콘텐츠를 가져옴",
      "runAfter": {},
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_sharepointonline"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/files/@{encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id'])}/content"
      },
      "parameters": {
        "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
        "fileIdentifier": "@triggerOutputs()['headers']['x-ms-file-id']"
      }
    },
    "Recognize_text_in_image_or_document": {
      "type": "ApiConnection",
      "connector": "AI Builder",
      "description": "AI Builder 사전 빌드 OCR 모델 — Get file content의 File Content(바이너리)를 Image 입력으로 전달",
      "runAfter": {
        "Get_file_content": ["Succeeded"]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_aibuilder"
          }
        },
        "body": {
          "image": "@body('Get_file_content').$content"
        }
      },
      "parameters": {
        "image": "@outputs('Get_file_content')?['body']"
      },
      "model": "prebuilt-read (OCR)",
      "outputs": {
        "text": "전체 OCR 인식 텍스트",
        "pages": "페이지별 텍스트 블록 배열",
        "lines": "라인별 텍스트 및 바운딩 박스"
      }
    },
    "Compose": {
      "type": "Compose",
      "description": "AI Builder OCR 결과에서 fullText(전체 인식 텍스트)를 추출",
      "runAfter": {
        "Recognize_text_in_image_or_document": ["Succeeded"]
      },
      "inputs": "@body('Recognize_text_in_image_or_document')?['responsev2']?['predictionOutput']?['fullText']"
    },
    "Compose_1": {
      "type": "Compose",
      "description": "OCR 전문에서 차량번호를 추출 — 3가지 문서 형식 대응 (부과대상/위반차량/차량번호)",
      "runAfter": {
        "Compose": ["Succeeded"]
      },
      "inputs": "@if(contains(outputs('Compose'),'부과대상 : '),trim(first(split(first(skip(split(outputs('Compose'),'부과대상 : '),1)),decodeUriComponent('%0A')))),if(contains(outputs('Compose'),'위반차량'),trim(first(split(first(skip(split(outputs('Compose'),'위반차량'),1)),decodeUriComponent('%0A')))),trim(first(split(first(split(first(skip(split(outputs('Compose'),'차량번호'),1)),decodeUriComponent('%0A'))),'성명')))))",
      "_expressionBreakdown": {
        "overview": "중첩 if()로 3가지 문서 형식에서 차량번호 추출",
        "case1": "contains('부과대상 : ') → split('부과대상 : ') → skip(1) → first → split(newline) → first → trim",
        "case2": "contains('위반차량') → split('위반차량') → skip(1) → first → split(newline) → first → trim",
        "case3_fallback": "split('차량번호') → skip(1) → first → split(newline) → first → split('성명') → first → trim",
        "case3_note": "차량번호와 성명이 같은 줄에 올 수 있어 '성명' 기준 추가 분리 (미납통행료 안내문 대응)"
      },
      "_supportedDocumentTypes": [
        {
          "type": "과태료 고지서 (경찰서)",
          "delimiter": "부과대상 : ",
          "example": "경찰서 발행 과속/과징금 고지서"
        },
        {
          "type": "위반사실 통지 및 사전통지서",
          "delimiter": "위반차량",
          "example": "경찰서 발행 속도위반 사전통지서"
        },
        {
          "type": "과태료 부과 고지서 (구청)",
          "delimiter": "차량번호",
          "example": "구청 발행 주정차위반 과태료 고지서"
        },
        {
          "type": "주정차위반 과태료 통지서 (거제시)",
          "delimiter": "부과대상 : ",
          "example": "거제시 발행 주정차위반 과태료 통지서 (case1에 해당)"
        },
        {
          "type": "유료도로 미납통행료 납부안내문",
          "delimiter": "차량번호",
          "example": "GK 해상도로 발행 미납통행료 안내문 — 차량번호/성명 같은 줄 대응"
        }
      ]
    },
    "Compose_2": {
      "type": "Compose",
      "description": "OCR 전문의 법률 조항/키워드 기반으로 고지서 성격 판별 → 통지서명 부여",
      "runAfter": {
        "Compose": ["Succeeded"]
      },
      "inputs": "@if(or(contains(outputs('Compose'),'제17조'),contains(outputs('Compose'),'과속')),'과속단속통지서',if(or(or(contains(outputs('Compose'),'제32'),contains(outputs('Compose'),'제33')),or(contains(outputs('Compose'),'제34'),contains(outputs('Compose'),'주정차'))),'주정차위반통지서',if(contains(outputs('Compose'),'통행료'),'미납통행료통지서','기타통지서')))",
      "_expressionBreakdown": {
        "overview": "법률 조항 + 키워드 기반으로 고지서 성격을 판별하여 통지서명 부여",
        "case1_과속": "or(contains('제17조'), contains('과속')) → '과속단속통지서' — 도로교통법 제17조(자동차등의 속도)",
        "case2_주정차": "or(or(contains('제32'), contains('제33')), or(contains('제34'), contains('주정차'))) → '주정차위반통지서' — 도로교통법 제32~34조(주정차 금지/제한)",
        "case3_통행료": "contains('통행료') → '미납통행료통지서' — 법률 조항 없이 통행료 키워드 매칭",
        "fallback": "'기타통지서' — 위 패턴 모두 해당하지 않는 경우"
      },
      "_classificationRules": {
        "과속단속통지서": {
          "법률": "도로교통법 제17조 (자동차등의 속도)",
          "키워드": ["제17조", "과속"],
          "예시문서": "경찰서 발행 과속 과태료 고지서, 사전통지서"
        },
        "주정차위반통지서": {
          "법률": "도로교통법 제32조(정차·주차 금지), 제33조(주차금지 장소), 제34조(주차 방법·시간 제한)",
          "키워드": ["제32", "제33", "제34", "주정차"],
          "예시문서": "구청/지자체 주정차위반 과태료 고지서"
        },
        "미납통행료통지서": {
          "법률": "해당없음 (법률 조항 미기재)",
          "키워드": ["통행료"],
          "예시문서": "GK 해상도로 미납통행료 납부안내문"
        }
      }
    },
    "Compose_3": {
      "type": "Compose",
      "description": "OCR 전문에서 1차 납부기한 추출 — 납부기한/납기내 패턴 대응",
      "runAfter": {
        "Compose": ["Succeeded"]
      },
      "inputs": "@if(contains(outputs('Compose'),'납부기한 : '),trim(first(split(first(skip(split(outputs('Compose'),'납부기한 : '),1)),decodeUriComponent('%0A')))),if(contains(outputs('Compose'),'납부기한'),trim(first(split(first(skip(split(outputs('Compose'),'납부기한'),1)),decodeUriComponent('%0A')))),if(contains(outputs('Compose'),'납기내'),trim(first(split(first(skip(split(outputs('Compose'),'납기내'),1)),decodeUriComponent('%0A')))),'추출실패')))",
      "_expressionBreakdown": {
        "overview": "중첩 if()로 1차 납부기한 추출",
        "case1": "contains('납부기한 : ') → '납부기한 : ' 뒤 첫 줄 추출 (가장 일반적, 콜론+공백 포함)",
        "case2": "contains('납부기한') → '납부기한' 뒤 첫 줄 추출 (구분자 없는 형식)",
        "case3": "contains('납기내') → '납기내' 뒤 첫 줄 추출 (대안 라벨)",
        "fallback": "'추출실패' — 납부기한 필드를 찾을 수 없음",
        "note": "1차/2차 기한이 모두 있는 문서에서 '납부기한' 뒤 첫 번째 값이 1차에 해당"
      }
    },
    "Compose_4": {
      "type": "Compose",
      "description": "이메일 제목 및 첨부파일명 조합 — '{고지서성격}_{차량번호}_{납부기한}'",
      "runAfter": {
        "Compose_1": ["Succeeded"],
        "Compose_2": ["Succeeded"],
        "Compose_3": ["Succeeded"]
      },
      "inputs": "@concat(outputs('Compose_2'),'_',outputs('Compose_1'),'_',outputs('Compose_3'))",
      "_outputExample": "과속단속통지서_231허1342_2026.03.15"
    },
    "Get_items": {
      "type": "ApiConnection",
      "connector": "SharePoint",
      "description": "SharePoint 리스트에서 차량번호로 담당자 이메일 조회",
      "runAfter": {
        "Compose_1": ["Succeeded"]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "shared_sharepointonline"
          }
        },
        "method": "get",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lloydsregistergroup.sharepoint.com/sites/AutomationTest'))}/tables/@{encodeURIComponent(encodeURIComponent('VehicleEmailMapping'))}/items",
        "queries": {
          "$filter": "VehicleNumber eq '@{outputs('Compose_1')}'"
        }
      },
      "parameters": {
        "siteAddress": "Automation Test Site - https://lloydsregistergroup.sharepoint.com/sites/AutomationTest",
        "listName": "VehicleEmailMapping",
        "$filter": "VehicleNumber eq '@{outputs('Compose_1')}'",
        "_listColumns": {
          "VehicleNumber": "차량번호 (텍스트) — 예: 231허1342",
          "Email": "담당자 이메일 (텍스트) — 예: john.doe@lr.org"
        }
      }
    },
    "Condition": {
      "type": "If",
      "description": "SharePoint 리스트에서 차량번호 매칭 여부 확인",
      "runAfter": {
        "Get_items": ["Succeeded"],
        "Compose_4": ["Succeeded"]
      },
      "expression": {
        "and": [
          {
            "greater": ["@length(body('Get_items')?['value'])", 0]
          }
        ]
      },
      "actions": {
        "Create_a_draft_(V2)": {
          "type": "ApiConnection",
          "connector": "Office 365 Outlook",
          "description": "매칭된 담당자에게 Outlook Draft 생성 — 제목과 첨부파일명 동일",
          "inputs": {
            "host": {
              "connection": {
                "name": "shared_office365"
              }
            },
            "method": "post",
            "path": "/v2/Mail/drafts",
            "body": {
              "To": "@{first(body('Get_items')?['value'])?['Email']}",
              "Subject": "@{outputs('Compose_4')}",
              "Body": "<p>교통 관련 통지서를 첨부합니다.</p><p>문서 성격: @{outputs('Compose_2')}<br>차량번호: @{outputs('Compose_1')}<br>납부기한: @{outputs('Compose_3')}</p>",
              "Importance": "Normal",
              "Attachments": [
                {
                  "Name": "@{concat(outputs('Compose_4'),'.pdf')}",
                  "ContentBytes": "@{body('Get_file_content').$content}"
                }
              ]
            }
          },
          "_outputExample": {
            "To": "john.doe@lr.org",
            "Subject": "과속단속통지서_231허1342_2026.03.15",
            "AttachmentName": "과속단속통지서_231허1342_2026.03.15.pdf"
          }
        }
      },
      "else": {
        "actions": {
          "Compose_no_match": {
            "type": "Compose",
            "description": "차량번호 매칭 실패 시 로깅",
            "inputs": "@concat('매칭 실패: 차량번호 ', outputs('Compose_1'), ' — SharePoint 리스트에 해당 차량번호가 없습니다.')"
          }
        }
      }
    }
  },
  "_flowSummary": {
    "trigger": "SharePoint 폴더에 PDF 업로드",
    "step1": "Get file content → 파일 바이너리 가져오기",
    "step2": "AI Builder OCR → 텍스트 인식",
    "step3": "Compose → fullText 추출",
    "step4_parallel": {
      "Compose_1": "차량번호 추출 (부과대상/위반차량/차량번호)",
      "Compose_2": "고지서 성격 판별 (법률 조항 기반)",
      "Compose_3": "1차 납부기한 추출"
    },
    "step5": "Get items → SharePoint 리스트에서 차량번호-이메일 매핑 조회",
    "step6": "Compose_4 → 제목 조합 (고지서성격_차량번호_납부기한)",
    "step7": "Condition → 매칭 확인 → Yes: Outlook Draft 생성 (제목=첨부파일명)"
  }
}
